.container {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

main {
  width: 54%;
  padding: 30px 30px 30px 65px;
}

.content {
  width: 100%;
  min-height: 770px;
  background-color: #FFFFFF;
  margin-top: 10px;
  border-radius: 20px;
  padding: 20px;
}