.nav-container {
  display: flex;
  & div {
    height: 40px;
    min-width: 40px;
    border-radius: 10px;
  }
  & .back-btn {
    background: no-repeat 50% url('../../assets/navigation/back-btn-pink.svg'), #FBE0DC;
    cursor: pointer;
    &:hover {
      background: no-repeat 50% url('../../assets/navigation/back-btn-white.svg'), #FF868E;
    }
  }
  & .title {
    line-height: 41px;
    margin-left: 10px;
    padding: 0 30px;
    background: #FF868E;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: 500;
  }
}