.search-panel-container {
  display: flex;
  justify-content: space-between;
  width: 680px;
  height: 60px;
  & .search-form {
    height: 58px;
    display: flex;
    width: 470px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    &:hover {
      border: 2px solid #FBE0DC;
    }
    &:focus-within {
      border: 2px solid #FF868E;
    }
    & input {
      display: block;
      border: none;
      width: 100%;
      margin: 15px 0 15px 20px;
      font-weight: 400;
      &:hover::placeholder {
        color: transparent;
      }
      &:focus {
        outline: none;
        &::placeholder {
          color: transparent;
        }
      }
      &::placeholder{
        color: #8C8C8C;
      }
    }
    & .search-button {
      cursor: pointer;
      width: 70px;
      border: 0;
      background: no-repeat 50% url('../../assets/search-panel/search-icon.svg');
    }
  }
  & .icon {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 20px;
    &:hover {
      background-color: #FBE0DC;
    }
  }
  & .like {
    background: no-repeat 50% url('../../assets/search-panel/like-default.svg'), #FFFFFF;
    &:active {
      background: no-repeat 50% url('../../assets/search-panel/like-white.svg'), #FF868E;
    }
  }
  & .fav {
    background: no-repeat 50% url('../../assets/search-panel/fav-default.svg'), #FFFFFF;
    &:active {
      background: no-repeat 50% url('../../assets/search-panel/fav-white.svg'), #FF868E;
    }
  }
  & .dislike {
    background: no-repeat 50% url('../../assets/search-panel/dislike-default.svg'), #FFFFFF;
    &:active {
      background: no-repeat 50% url('../../assets/search-panel/dislike-white.svg'), #FF868E;
    }
  }
}